.cloudStorage-container {
  background: #fff;
}

.cloudStorage-container th.mat-header-cell,
.cloudStorage-container td.mat-cell {
  border-bottom: 0px;
}

.cloudStorage-container .mat-table {
  border: 1px solid #F0F0F0;
  margin: 0 22px;
}

.cloudStorage-container .select-btn {
  width: 113px;
  height: 28px;
  background: #FFA500 0% 0% no-repeat padding-box;
  border-radius: 14px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 12px/16px Nunito Sans-Regular;
  letter-spacing: 0px;
  color: #000000;
  border-color: #ffa500;
}

.new-cloudStorage {
  width: 128px;
  height: 38px;
  background: #FFA500 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal normal 16px/22px Nunito Sans-Regular;
  letter-spacing: 0px;
  color: #000000;
  border-radius: 23px;
  opacity: 1;
  border-width: 0;
  margin-right: 22px;
}

.cloudStorage-container .right-section {
  float: right;
  margin-top: 14px;
}

.cloudStorage-container .section {
  height: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CDCDCD;
}

.cloudStorage-container .search {
  display: inline-block;
  margin-left: 22px;
  margin-right: 15px;
}

.cloudStorage-container .inp-txt {
  font: normal normal normal 16px/22px Nunito Sans-Regular;
  letter-spacing: 0px;
  color: #CDCDCD;
  width: 303px;
  height: 38px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CDCDCD;
  border-radius: 26px;
  padding-left: 10px;
}
.cloudStorage-container .inp-txt:focus-visible{
  outline: #CDCDCD;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #CDCDCD;
}

.inp-txt ::-moz-placeholder {
  /* Firefox 19+ */
  color: #CDCDCD;
}

svg {
  color: #FFA500;
}

.searchResult {
  color: var(--unnamed-color-ffa500);
  text-align: left;
  font: normal normal 600 25px/34px Nunito Sans-SemiBold;
  letter-spacing: 0px;
  color: #FFA500;
  opacity: 1;
}

mat-header-row {
  min-height: 36px;
  background: #80808070;
  font-weight: bold;
  color: #000000 !important;
}
.text-error-msg-block {
  min-height: 10px;
  height: 10px;
}
.validationMessage {
  font: normal normal normal 13px/18px Nunito Sans;
  color: #f76e6e;
}

.cloudStorage-container mat-icon {
  margin-left: -30px;
  padding-top: 9px;
  color: #ffa500;
}

.cloudStorage-container .search mat-icon {
  margin-left: -30px;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 3px;
  color: black;
  background: #FFA500 0% 0% no-repeat padding-box;
  border-radius: 26px;
  margin-bottom: 4px;
}

.cloudStorage-container .left-section {
  float: left;
  font: normal normal 600 25px/34px Nunito Sans-SemiBold;
  letter-spacing: 0px;
  color: #FFA500;
  margin-left: 40px;
  margin-top: 15px;
}

.cloudStorage-container .material-icons {
  font-size: 19px;
}

.cloudStorage-container mat-row {
  height: 35px;
  font: normal normal normal 12px/16px Nunito Sans-Regular;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

}

.cloudStorage-container mat-header-row {
  background: #80808063 0% 0% no-repeat padding-box !important;
  height: 36px;
  font: normal normal normal 13px/18px Nunito Sans-Regular;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.cloudStorage-container .mat-table {
  overflow-x: auto;
}

.cloudStorage-container .mat-cell,
.cloudStorage-container .mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
width: 6%;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
border-bottom: 1px solid rgba(0,0,0,.12);
}

.cloudStorage-container .mat-row,
.cloudStorage-container .mat-header-row {
display: table-row;
}

.cloudStorage-container mat-cell:first-of-type,
.cloudStorage-container mat-header-cell:first-of-type,
.cloudStorage-container mat-footer-cell:first-of-type {
  padding-left: 15px;
}

.form-control {
  border-radius: 1.375rem;
}

.list-heading {
  font: normal normal 600 25px/34px Nunito Sans-SemiBold;
  letter-spacing: 0px;
  color: #FEA500;
  padding: 13px;
}

.left-section {
  float: left;
}

.right-section {
  float: right;
}

.form-control:focus {
  border: 1px solid#FEA500;
  box-shadow: none;
}

.validtar {
  color: red;
}

.loader{
  width: 6%;
}

.validationMessage {
  font: normal normal normal 13px/18px Nunito Sans-Regular;
  color: #f76e6e;
}

.text-error-msg-block {
  min-height: 10px;
  height: 10px;
}

.form-select:focus {
  border: 1px solid#FEA500;
  box-shadow: none;
}

.form-select {
  border-radius: 1.375rem;
}

option {
  font-size: small;
  outline: 2px dotted red;
  color: #FEA500;
  border-radius: 25px;
}

input.ng-invalid.ng-touched.select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.validationMessage {
  font: normal normal normal 13px/18px Nunito Sans-Regular;
  color: #f76e6e;
}

.popupImage {
  width: 112px;
  ;
  margin: auto;
}

.popupSubHeadingText {
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal 100 39px/53px Nunito Sans-SemiBold !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.popupBodyTextMsg {
  font: normal normal 100 18px/24px Nunito Sans-SemiBold !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.popupCancelButton {
  background: var(--unnamed-color-cdcdcd) 0% 0% no-repeat padding-box;
  background: #CDCDCD 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  width: 128px;
  font: normal normal normal 16px/22px Nunito Sans-Regular;
  margin-right: 20px;
  border: 0px;

}

.popupConfirmButton {
  background: var(--unnamed-color-ffa500) 0% 0% no-repeat padding-box;
  background: #FFA500 0% 0% no-repeat padding-box;
  border-radius: 23px;
  width: 128px;
  font: normal normal normal 16px/22px Nunito Sans-Regular;
  border: 0px;
}

 mat-icon {
  margin-left: -30px;
  padding-top: 9px;
  color: #ffa500;
 
}

 .search mat-icon {
  margin-left: -30px;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 3px;
  color: black;
  background: #FFA500 0% 0% no-repeat padding-box;
  border-radius: 26px;
  margin-bottom: 4px;
 
}

.modal mat-icon {
  margin-right: 5px;
  margin-top: -40px;
  color: #CDCDCD;
  position: relative;
  float: right;
  min-height: 30px;
}

.searchbtn {
  width: 128px;
  height: 38px;
  background: #FFA500 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal normal 16px/19px Nunito Sans-Regular;
  letter-spacing: 0px;
  border-radius: 23px;
  opacity: 1;
  border-width: 0;
  padding: 5px 40px;
}
.SearchUserTxt {
  color: var(--unnamed-color-ffa500);
  text-align: left;
  font: normal normal 600 25px/34px Nunito Sans-SemiBold;
  letter-spacing: 0px;
  color: #FFA500;
  opacity: 1;
}

.disabled {
  background: #FAD89A;
  cursor: default;
}