.list-heading {
    font: normal normal normal 15px/19px LexendDeca-Regular;
    letter-spacing: 0px;
    color: #000000;
    padding: 13px;
}

.table-container {
    background: #fff;
    margin: 0 12px 7px 16px;
}

.table-container th.mat-header-cell,
.table-container td.mat-cell {
    border-bottom: 0px;
    font-size: 13px;
}

.table-container .mat-table {
    border: 1px solid #F0F0F0;
    margin: 0 22px;
}

.location-container .dot {
    height: 11px;
    width: 11px;
    margin-right: 5px;
    background: #0FC500 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.location-container .mat-header-cell {
    font: normal normal 600 13px/15px Nunito Sans-Regular;
    letter-spacing: 0px;
    color: #000000;
}

.location-container .mat-cell {
    text-align: center;
    font: normal normal 600 12px/16px Nunito Sans-Regular;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.location-container mat-header-row {
    background: #CDCDCD  0% 0% no-repeat padding-box;
    min-height: 36px;
}

.location-container mat-row {
    min-height: 35px;
}

.location-container mat-form-field {
    margin-left: 21px;
    margin-right: 15px;
}

.select-btn {
    width: 113px;
    height: 28px;
    background: #FFA500 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 12px/16px Nunito Sans-Regular;
    letter-spacing: 0px;
    color: #000000;
    border-color: #ffa500;
}

.new-location {
    width: 100px;
    height: 33px;
    background: #FFA500 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 14px/19px Nunito Sans-Regular;
    letter-spacing: 0px;
    border-radius: 23px;
    opacity: 1;
    border-width: 0;
    padding: 5px 27px;
    margin-right: 22px;
}

.left-section {
    float: left;
}

.right-section {
    float: right;
}

.section {
    height: 45px;
    margin-bottom: 15px;
    padding-top: 18px;
}

.search {
    display: inline-block;
    margin-left: 22px;
    margin-right: 15px;
    color: var(--unnamed-color-ffa500);
    font: normal normal 600 25px/34px Nunito Sans-SemiBold;
    letter-spacing: 0px;
    color: #FFA500;
    opacity: 1;
}

.inp-txt {
    width: 233px;
    padding-left: 11px;
    height: 28px;
    border: 1px solid #CDCDCD;
    border-radius: 14px;
    font: normal normal 600 11px/15px Nunito Sans-SemiBold;
    letter-spacing: 0px;
    color: #000000;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #CDCDCD;
}

.inp-txt ::-moz-placeholder {
    /* Firefox 19+ */
    color: #CDCDCD;
}

.location-container mat-icon {
    margin-left: -30px;
    margin-top: 4px;
    color: #cdcdcd;
}

.location-container form {
    display: flex;
}

.location-container .material-icons {
    font-size: 19px;
}

.popupImage {
    width: 112px;
    ;
    margin: auto;
}

.popupSubHeadingText {
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 100 39px/53px Nunito Sans-SemiBold !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.popupBodyTextMsg {
    font: normal normal 100 18px/24px Nunito Sans-SemiBold !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.popupCancelButton {
    background: var(--unnamed-color-cdcdcd) 0% 0% no-repeat padding-box;
    background: #CDCDCD 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    width: 128px;
    font: normal normal normal 16px/22px Nunito Sans-Regular;
    margin-right: 20px;
    border: 0px;

}

.popupConfirmButton {
    background: var(--unnamed-color-ffa500) 0% 0% no-repeat padding-box;
    background: #FFA500 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 128px;
    font: normal normal normal 16px/22px Nunito Sans-Regular;
    border: 0px;
}

.SearchUserTxt{
    color: var(--unnamed-color-ffa500);
    text-align: left;
    font: normal normal 600 25px/34px Nunito Sans-SemiBold;
    letter-spacing: 0px;
    color: #FFA500;
    opacity: 1;
}

.form-label{
font: normal normal normal 13px/18px Nunito Sans-Regular;
letter-spacing: 0px;
text-transform: uppercase;
opacity: 1;
}

input{
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-cdcdcd);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CDCDCD;
border-radius: 26px;
opacity: 1;
box-shadow: none

}

.searchbtn{
    width: 128px;
    height: 38px;
    background: #FFA500 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 16px/19px Nunito Sans-Regular;
    letter-spacing: 0px;
    border-radius: 23px;
    opacity: 1;
    border-width: 0;
    padding: 5px 40px; 
}

.searchResult{
    color: var(--unnamed-color-ffa500);
    text-align: left;
    font: normal normal 600 25px/34px Nunito Sans-SemiBold;
    letter-spacing: 0px;
    color: #FFA500;
    opacity: 1; 
}

svg{
    color: #FFA500;
}
.starMandate{
    color:#f51d1d
}

.dropdown-menu.show{
    width: 44%;
    border: 1px solid #FFA500;
    border-radius: 13px 13px 13px 13px;
}

#rolesBtn{
    border: 1px solid #FFA500;
    width: 44%;
    margin-left: 27%;
    border-radius: 26px;
}

.dropdown-toggle::after {
    margin-left: 8.255em;
}

label.radio-btn{
    font-size: 12px;;
}

#demo {
    margin: auto;
    width: 25%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#demo .wrapper {
    display: inline-block;
    width: 180px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}

#demo .parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #AAA;
    color: #282D31;
    font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: right;
    padding-right: 10px;
}

#demo .parent:hover,
#demo .content:hover ~ .parent {
    background: #fff;
    -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

#demo .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 180px;
    padding-top: 28px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border: 1px solid #FFA500;
    border-radius: 5px;
}

#demo .wrapper:active .content {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

#demo .content:hover {
    height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


#demo .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #FFA500;
}

#demo .content ul a {
    text-decoration: none;
}

#demo .content li:hover {
    color: 333;
}

#demo .content li {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
}

#demo .content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arrow {
  border: solid #AAA;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}



.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.loader{
    width: 6%;
}

#upArrow{
    border: solid #ffa500;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.validationMessage {
    font: normal normal normal 13px/18px Nunito Sans;
    color: #f76e6e;
}

input.ng-invalid.ng-touched.select.ng-invalid.ng-touched {
    border: 1px solid red;
}


