.content-wrapper{
    height: calc(100vh - 65px - 59px);
}

.content-wrapper mat-sidenav-container {
    height: 100%;
    width: 161px;
    float: left;
    background: #000000 0% 0% no-repeat padding-box;
}

.content-wrapper .mat-drawer{
    background: #000000 0% 0% no-repeat padding-box;
}

.content-wrapper mat-list-item {
    font: normal normal 300 13px/18px Nunito Sans-Light;
    letter-spacing: 0px;
    color: #F0F0F0;
}

.mat-list-item-content{
    padding-left: 24px;
}

.content-wrapper mat-sidenav{
    position: relative;
}

.right-content{
    margin-left: 161px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    height: 100%;
    overflow-y: auto;
}

.content-wrapper .mat-list-base {
    padding-top: 0px;
}

.content-wrapper .mat-list-item.active{
    background: #FEA500 0% 0% no-repeat padding-box;
    border-radius: 0px 13px 13px 0px;
    width: 143px;
}

.icon-text {
    padding-left: 11px;
}

.content-wrapper .mat-list-item.active img{
    filter: invert(1);
}

.content-wrapper .mat-list-item.active .icon-text{
    color: #000000;
}

.content-wrapper .mat-list-item.active img.location-icon{
    filter: none !important;
}

mat-sidenav , mat-nav-list{
    overflow: hidden;
}

.mat-list-item{
    height: 38px !important;
}

.mat-expansion-panel-header{
    background-color: #000;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
}
#settingTab{
    background-color:  #000  !important;
}


.mat-expansion-indicator, .mat-expansion-indicator:after {
    color: white !important ;
}

.activeClass{
    background-color:#FFA500 ;
    color:#000
}

.inActiveClass{
    background-color:#000 ;
    color:#fff
}

.activeClass:hover{
    background-color:#FFA500 !important;
}

.activetext{
    color:#FFA500 ;
}

.inActivetext{
    color:#fff 
}

.invertImg{
    filter: invert(1);
}

.notInvertImg{
    filter: invert(0);
}