<div class="settings-container mat-elevation-z8" >
    <div class="section">
        <div class="left-section" data-bs-toggle="collapse" data-bs-target="#collapseServ" aria-expanded="true" aria-controls="collapseServ" style="cursor: pointer;" (click)="toggle()">
        <mat-icon *ngIf="!isExpanded" style="padding-left: 7px;">chevron_right</mat-icon>
        <mat-icon *ngIf="isExpanded" style="padding-left: 7px;">expand_more</mat-icon> Patching Day
        </div>
        <div class="right-section">
            <div class="search">
                <form (keydown)="keyDownFunction($event)">
                  <input type="text" class="inp-txt" placeholder="Search Patching Day"
                   #input (input)="onInputChange($event)">
                  <mat-icon matSuffix data-bs-toggle="modal" data-bs-target="#SearchPatchingDays" style="cursor: pointer;">search</mat-icon>
                </form>
            </div>
            <button class="new-btn" data-bs-toggle="modal" data-bs-target="#pacthingDayModal" (click)="CreatePatch()"> + Add </button>
        </div>
    </div>
    <div id="collapseServ" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="dayOfWeek">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Patch Day </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ weeks[element.dayOfWeek]}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeOfDay">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Patch Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timeOfDay}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeZone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time Zone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timeZone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <mat-cell *matCellDef="let element" class="action-link" style="text-align: center;">
                <img src="assets/images/edit.png" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#pacthingDayModalUpdate" (click)="edit(element)">
                <img src="assets/images/delete.png" style="margin-left: 5px;cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="deleteItem(element)">
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator class="customPaginator" [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)"
        >
    </mat-paginator>
</div>

</div>

<div class="col d-flex align-items-center justify-content-center">
  <img src="../../../assets/images/loading1.png" alt="" class="loader" *ngIf="isLoading">
</div>

<div class="modal fade" id="pacthingDayModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: max-content; min-width: 70%;">
        <div class="modal-content">
            <div class="settings">
                <div class="form-container-box">
                  <div class="list-heading left-section">
                    Create Patching Day
                  </div>
                  <div class="section">
                    <div class="right-section">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                  </div>
                  <hr>
                  <form [formGroup]="patchingdayForm" class="settings-modal-form" id="newPatchingDay" (ngSubmit)="onFormSubmit(this)">
                    <input type="hidden" id="patchingDayId" name="patchingDayId" formControlName="patchingDayId" />
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <label for="dayOfWeek" class="form-label">Patch Day<span class="validtar">*</span></label>
                        <select name="dayOfWeek" id="dayOfWeek" class="form-select dropdown-toggle" formControlName="dayOfWeek">
                          <option *ngFor="let day of enumWeeks" [value]="day"> {{weeks[day]}} </option>
                        </select>
                        <div class="text-error-msg-block">
                        <small *ngIf="!dayOfWeek.valid && dayOfWeek.touched"  class="validationMessage"> This field is required.</small>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="timeOfDay" class="form-label">Patch Time<span class="validtar">*</span></label>
                        <select name="timeOfDay" id="timeOfDay" class="form-select dropdown-toggle" formControlName="timeOfDay">
                          <option *ngFor="let time of arrTime" [value]="time.name"> {{time.name}} </option>
                        </select>
                        <div class="text-error-msg-block">
                        <small *ngIf="!timeOfDay.valid && timeOfDay.touched" class="validationMessage"> This field is required.</small>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="timezone" class="form-label" id="custom">Timezone<span class="validtar">*</span></label>
                        <select name="timezone" id="timezone" class="form-select dropdown-toggle" formControlName="timeZone">
                          <option *ngFor="let timezone of timeZones" [value]="timezone"> {{ timezone }} </option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-save" data-bs-dismiss="modal" [disabled]="!patchingdayForm.valid">Save</button>
                    </div>
                  </form>
              </div>
      </div>
    </div>
</div>
</div>

<div class="modal fade" id="pacthingDayModalUpdate" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: max-content; min-width: 70%;">
      <div class="modal-content">
          <div class="settings">
              <div class="form-container-box">
                <div class="list-heading left-section">
                  Update Patching Day
                </div>
                <div class="section">
                  <div class="right-section">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                </div>
                <hr>
                <form [formGroup]="patchingdayForm" class="settings-modal-form" id="newPatchingDay" (ngSubmit)="onFormSubmit(this)">
                  <input type="hidden" id="patchingDayId" name="patchingDayId" formControlName="patchingDayId" />
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <label for="dayOfWeek" class="form-label">Patch Day<span class="validtar">*</span></label>
                      <select name="dayOfWeek" id="dayOfWeek" class="form-select dropdown-toggle" formControlName="dayOfWeek">
                        <option *ngFor="let day of enumWeeks" [value]="day"> {{weeks[day]}} </option>
                      </select>
                      <div class="text-error-msg-block">
                      <small *ngIf="!dayOfWeek.valid && dayOfWeek.touched"  class="validationMessage"> This field is required.</small>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="timeOfDay" class="form-label">Patch Time<span class="validtar">*</span></label>
                      <select name="timeOfDay" id="timeOfDay" class="form-select dropdown-toggle" formControlName="timeOfDay">
                        <option *ngFor="let time of arrTime" [value]="time.name"> {{time.name}} </option>
                      </select>
                      <div class="text-error-msg-block">
                      <small *ngIf="!timeOfDay.valid && timeOfDay.touched" class="validationMessage"> This field is required.</small>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="timeZone" class="form-label">Timezone</label>
                      <select name="timezone" id="timezone" class="form-select dropdown-toggle" formControlName="timeZone">
                        <option *ngFor="let timezone of timeZones" [value]="timezone"> {{ timezone }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-save" data-bs-dismiss="modal" [disabled]="!patchingdayForm.valid">Update</button>
                  </div>
                </form>
            </div>
    </div>
  </div>
</div>
</div>

 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-title fs-5 m-auto" id="staticBackdropLabel">
             <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" fill="#FEA500" class="bi bi-exclamation-circle mt-4 popupImage" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
          </div>
        <div class="modal-body m-auto">
          <p class="popupSubHeadingText">Are you sure?</p>
          <p class="popupBodyTextMsg">This Patching Day would be retired</p>
        </div>
        <div class="m-auto pb-5">
          <button type="button" class="btn popupCancelButton" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn popupConfirmButton" data-bs-dismiss="modal" (click)="popupConfirmButton()">Confirm</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="SearchPatchingDays" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="SearchUserTxt"> Search Patching Days</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="clearFormOnCancel()">
          </button>
        </div>
        <div class="modal-body">
          <form class="row g-3" [formGroup]="searchPatchingDayForm" id="patchingDays"
            (ngSubmit)="searchPatchingDay()">

            <div class="col-md-3">
              <label for="patchday" class="form-label">Patch Day </label>
              <input type="text" class="form-control" name="patchday" id="patchday" autocomplete="off" formControlName="patchday">
              <mat-icon matSuffix>search</mat-icon>
            </div>
            <div class="col-md-3">
              <label for="timezone" class="form-label">Time Zone </label>
              <input type="text" class="form-control" name="timezone" id="timezone" autocomplete="off" formControlName="timezone">
              <mat-icon matSuffix>search</mat-icon>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="searchbtn" (click)="searchPatchingDay()">Search</button>
        </div>

        <div *ngIf="rearchResultTable" style="margin: 20px">
          <div>
            <span class="searchResult createButtons"> Search Result </span>
            <span style="float:right">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-sliders"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
              </svg>
            </span>
          </div>
          <hr style="color:grey; font-size: 10px; width: 100%;">

          <mat-table #table1 [dataSource]="dataSource1" matSort>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
              <mat-cell *matCellDef="let element" class="action-link" style="text-align: center;">
                <img src="assets/images/edit.png" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#pacthingDayModalUpdate" (click)="edit(element)">
                <img src="assets/images/delete.png" style="margin-left: 5px;cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="deleteItem(element)">
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="patchday">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Patch Day </mat-header-cell>
              <mat-cell *matCellDef="let element" id="matCell1"> {{element.dayOfWeek}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="patchtime">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Patch TIme</mat-header-cell>
              <mat-cell *matCellDef="let element"  id="matCell2"> {{element.timeOfDay}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Timezone">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Time Zone</mat-header-cell>
              <mat-cell *matCellDef="let element" id="matCell3"> {{element.timeZone}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
          </mat-table>

          <mat-paginator class="customPaginator" [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)">
          </mat-paginator>

          <div class="col d-flex align-items-center justify-content-center">
            <img src="../../../assets/images/loading1.png" alt="" class="loader" *ngIf="isLoading">

          </div>
        </div>
      </div>
    </div>
  </div>
